@font-face {
    font-family: 'NorseBold';
    src: url(Norse-Bold.otf);
}

@font-face {
    font-family: 'NataSans';
    src: url(NataSans-Regular.ttf);
}

body{
    display: flex;
    margin: 0;
}

#image-logo-section {
    background-image: url('halie-west-25xggax4bSA-unsplash.jpg');
    width:33%;
    background-size: cover;
}

#form-section {
    height: 100vh;
    width: 67%;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

#logo-text-container {
    background-color: rgba(0, 0, 0, 0.432);
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    margin-top: 20vh;
}

#odin-logo {
    width: 5rem;
}

#logo-text {
    font-family: NorseBold;
    color: white;
    font-size: 5rem;
    margin-top: 1rem;
}

.form-headings {
    font-size: 25px;
    font-family: 'NataSans';
    margin-right: 35%;
    margin-left: 5%;
}

.pre-form {
    margin-left: 5%;
    margin-right: 35%;
    margin-top: 10%;
}

.form-box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 15px #888888;
    padding: 10px;
}

.form-inputs {
    margin-left: 5%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.input-pair {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-left: 30px;
}

.input-pair > label {
    font-family: 'NataSans';
    letter-spacing: 1px;
    font-size: 11px;
}

.input-pair > input {
    width: 17em;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #d8d8d8;
    font-family: 'NataSans';
}

.even {
    margin-right: 40%;
}

#create-account-btn {
    background-color: #596D48;
    color: white;
    margin-top: 35px;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 7px;
    border: solid 0px;
    font-size: 18px;
    font-family: 'NataSans';
}

#login-text {
    margin-left: 5%;
    font-size: 16px;
    font-family: 'NataSans';
}

#login-text > a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}